<template>
    <div class="admin">
        <slot name="header">
            <div class="header">
                <a href="/"><img class="logo" alt="Bee Logo" src="../assets/img/logoBee.svg"></a>
                <h1>To Bee or not To Bee</h1>
            </div>
        </slot>
            <div class="content">
                <div class="left-side">
                    <a href="/"><img style="width: 5vw" src="../assets/img/backpage.png"></a>
                </div>
        <slot name="middle">

        </slot>
            <div class="middle">
                <div class="middle-header">
                    <h2>Admin</h2>
                </div>
                <div class="middle-content">
                    <input type="button" value="Configuration" onclick="window.location='/configuration'">
                    <br>
                    <input type="button" value="Ruche et Ruchers" onclick="window.location='/ruchers'">
                </div>
            </div>
            <div class="right-side">

            </div>
        </div>
        <div class="footer">

        </div>
    </div>
</template>


<script>

    export default {
        name: 'Admin'
    }

</script>

<style scoped>
    .admin{
        min-height: 100vh;
    }
    h1{
        font-family: monospace;
        font-size: 3em;
    }
    h2{
        font-family: monospace;
        font-size: 2.5em;
    }

    input{
        width: 40vw;
        font-size: 1.5em;
        margin-bottom: 25px;
    }

    .header {
        text-align: center;
        background-color: #ffc701;
        padding: 25px 0;
        height: 20vh;
    }

    .logo{
        width: 100px;
    }

    .content{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 80vh;
    }

    .left-side{
        width: 10vw;
        background-color: #a7a7a7;
        text-align: center;
    }
    .middle{
        width: 80vw;
    }
    .middle-header{
        text-align: center;
        margin-bottom: 50px;
    }
    .middle-content{
        text-align: center;
    }
    .middle-footer{
        text-align: right;
    }
    .right-side{
        width: 10vw;
        background-color: #a7a7a7;
    }
</style>
