<template>
    <div class="ajoutrucher">
        <div class="header">
            <a href="/"><img class="logo" alt="Bee Logo" src="../assets/img/logoBee.svg"></a>
            <h1>To Bee or not To Bee</h1>
        </div>
        <div class="content">
            <div class="left-side">
                <a href="/ruchers"><img style="width: 5vw" src="../assets/img/backpage.png"></a>
            </div>
            <div class="middle">
                <div class="middle-header">
                    <h2>Ajouter un rucher</h2>
                </div>
                <div class="middle-content">
                    <form @submit="checkForm">
                        <div class="form-group">
                            <p v-if="errorId.length > 0" style="color: darkred; font-style: italic">{{errorId}}</p>
                            <label>Identifiant</label>
                            <input name="id" class="form-control" v-model="id">
                        </div>
                        <div class="form-group">
                            <p v-if="errorNbRuches.length > 0" style="color: darkred; font-style: italic">
                                {{errorNbRuches}}</p>
                            <label>Nombre de ruches</label>
                            <input type="number" name="nbRuches" class="form-control" v-model="nbRuches">
                        </div>
                        <div class="form-group">
                            <p v-if="errorEnvironnement.length > 0" style="color: darkred; font-style: italic">
                                {{errorEnvironnement}}</p>
                            <label>Description de l'environement</label>
                            <input class="form-control" :value="checkEnvironnements">
                        </div>
                        <div class="checkbox form-group form-check" v-for="environnement in environnements"
                             :key="environnement">
                            <input type="checkbox" class="form-check-input" :id="environnement" :value="environnement"
                                   v-model="checkEnvironnements">
                            <label class="form-check-label" :for="environnement">{{environnement}}</label>
                        </div>
                        <div class="form-group">
                            <label>Longitude</label>
                            <input type="number" class="form-control" v-model="longitude">
                        </div>
                        <div class="form-group">
                            <label>Latitude</label>
                            <input type="number" class="form-control" v-model="latitude">
                        </div>
                        <div class="form-group">
                            <label>Fréquence de visite</label>
                            <input type="number" class="form-control" v-model="frequence">
                        </div>
                        <input v-if="idAModifier" class="btn btn-warning btn-lg btn-block" type="submit"
                               value="Modifier le rucher" v-on:click="modifierRucher">
                        <input v-else class="btn btn-warning btn-lg btn-block" type="submit" value="Créer le rucher"
                               v-on:click="creerRucher">
                    </form>
                </div>
            </div>
            <div class="right-side">

            </div>
        </div>
        <div class="footer">

        </div>
    </div>
</template>


<script>

    export default {
        name: 'MesRuches',
        data: function () {
            return {
                id: "",
                nbRuches: "",
                ruchers: [],
                environnements: [],
                checkEnvironnements: [],
                longitude: null,
                latitude: null,
                frequence: "",
                date: new Date(),
                idAModifier: "",

                errorId: "",
                errorNbRuches: "",
                errorEnvironnement: "",
            }
        },
        //Initialisation des données
        created() {
            this.ruchers = JSON.parse(localStorage.getItem('STORAGE_RUCHERS') || "[]")
            this.environnements = JSON.parse(localStorage.getItem('STORAGE_ENVIRONNEMENT') || "[]")
            this.frequence = JSON.parse(localStorage.getItem('STORAGE_FREQUENCE') || "")
            this.idAModifier = JSON.parse(localStorage.getItem('STORAGE_ID_A_MODIFIER') || "")

            if (this.idAModifier !== null) {
                this.id = this.idAModifier.id;
                this.nbRuches = this.idAModifier.nbRuches;
                this.checkEnvironnements = this.idAModifier.env;
                this.longitude = this.idAModifier.coor.long;
                this.latitude = this.idAModifier.coor.lat;
                this.frequence = this.idAModifier.freq;
                this.date = this.idAModifier.date;
            }


        },
        methods: {
            //ajoute le rucher saisie dans la tableau des ruchers du localstorage et renvoie sur la liste des ruchers
            creerRucher() {
                if (this.id !== "" && this.nbRuches !== "" && this.checkEnvironnements.length !== 0) {
                    this.ruchers.push({
                        id: this.id,
                        nbRuches: this.nbRuches,
                        env: this.checkEnvironnements,
                        coor: {lat: this.latitude, long: this.longitude},
                        freq: this.frequence,
                        date: this.date,
                        visite: [{
                            dateVisite: new Date(),
                            dynamique: null,
                            nourriture: null,
                            nbHausses: null,
                            observation: null
                        }]
                    })
                    localStorage.setItem('STORAGE_RUCHERS', JSON.stringify(this.ruchers))
                    window.location = "./ruchers"
                }
            },
            //remplace le rucher saisie par le rucher à modifier dans le tableau des ruchers du local storage et renvoie sur la liste des ruchers
            modifierRucher(){
                var nouveauRucher = {
                    id: this.id,
                    nbRuches: this.nbRuches,
                    env: this.checkEnvironnements,
                    coor: {lat: this.latitude, long: this.longitude},
                    freq: this.frequence,
                    date: this.date,
                    visite: [{
                        dateVisite: new Date(),
                        dynamique: null,
                        nourriture: null,
                        nbHausses: null,
                        observation: null
                    }]
                }
                this.idAModifier = this.ruchers.filter(function (element, idAModifier) {
                    if (element.id === idAModifier.id) {
                        return element
                    }
                }.bind(this, this.idAModifier));
                this.ruchers.splice(this.ruchers.indexOf(this.idAModifier[0]), 1, nouveauRucher)
                localStorage.setItem('STORAGE_RUCHERS', JSON.stringify(this.ruchers))
                localStorage.setItem('STORAGE_ID_A_MODIFIER', JSON.stringify(null))
                window.location = "./ruchers"
            },

            checkForm: function (e) {
                if (this.id && this.nbRuches && this.environments) {
                    return true;
                }

                this.errorId = ""
                this.errorNbRuches = ""
                this.errorEnvironnement = ""

                if (!this.id) {
                    this.errorId = 'L\'identifiant doit être renseigné.';
                }
                if (!this.nbRuches) {
                    this.errorNbRuches = 'Le nombre de ruches doit être renseigné.';
                }
                if (this.checkEnvironnements.length === 0) {
                    this.errorEnvironnement = 'Une description de l\'environnement doit être renseigné.';
                }

                e.preventDefault();
            }
        }
    }

</script>

<style scoped>
    .ajoutrucher {
        min-height: 100vh;
    }

    h1 {
        font-family: monospace;
        font-size: 3em;
    }

    h2 {
        font-family: monospace;
        font-size: 2.5em;
    }

    .header {
        text-align: center;
        background-color: #ffc701;
        padding: 25px 0;
        height: 20vh;
    }

    .logo {
        width: 100px;
    }

    .content {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 80vh;
    }

    .left-side {
        width: 10vw;
        background-color: #a7a7a7;
        text-align: center;
    }

    .middle {
        width: 80vw;
    }

    .middle-header {
        text-align: center;
        margin-bottom: 50px;
    }

    .middle-footer {
        text-align: right;
    }

    .right-side {
        width: 10vw;
        background-color: #a7a7a7;
    }

</style>
