<!-- Afficher la carte avec les ruchers ayant des coordonnées -->
<template>
    <div class="carteRuchers">
        <div class="header">
            <a href="/"><img class="logo" alt="Bee Logo" src="../assets/img/logoBee.svg"></a>
            <h1>To Bee or not To Bee</h1>
        </div>
        <div class="content">
            <div class="left-side">
                <a href="/"><img style="width: 5vw" src="../assets/img/backpage.png"></a>
            </div>
            <div class="middle">
                <div class="middle-header">
                    <h2>Cartes des ruchers</h2>
                </div>
                <div class="middle-content">
                    <div id="mapid" ref="mapElement"></div>
                </div>
            </div>
            <div class="right-side">

            </div>
        </div>
        <div class="footer">

        </div>
    </div>
</template>


<script>

    export default {
        name: 'CarteRuchers',
        data: function () {
            return {
                ruchers: [],
                ruchersImportant: [],
                ruchersAVoir: [],
                ruchersOk: [],
            }
        },
        //Initialisation des données pour le calcul des jours entre par rapport à la dernière visite
        created() {
            this.ruchers = JSON.parse(localStorage.getItem('STORAGE_RUCHERS') || '[]')

            for (let i = 0; i < this.ruchers.length; i++) {

                if (this.ruchers[i].visite[0].dateVisite == null) {
                    this.ruchers[i].visite[0].dateVisite = this.ruchers[i].date
                }
            }

            for (let i = 0; i < this.ruchers.length; i++) {

                let d1 = new Date(this.ruchers[i].visite[this.ruchers[i].visite.length - 1].dateVisite)
                let d2 = new Date(Date.now())

                d1 = d1.getTime() / 86400000;
                d2 = d2.getTime() / 86400000;
                let d3 = new Number(d2 - d1).toFixed(0)


                this.ruchers[i].dateDepuisVisite = d3
                if (d3 > this.ruchers[i].freq) {
                    this.ruchersImportant.push(this.ruchers[i])
                } else if (d3 >= this.ruchers[i].freq / 2) {
                    this.ruchersAVoir.push(this.ruchers[i])
                } else {
                    this.ruchersOk.push(this.ruchers[i])
                }
            }
        },
        methods: {
            consulter(rucher) {
                localStorage.setItem('STORAGE_CONSULTER_RUCHER_ID', JSON.stringify(rucher))
                window.location = './visiteRucher'
            }
        },

        //Affichage de la carte et affichage des ruchers sur la carte en fonction des jours restants avant prochaine visite
        mounted() {

            var redIcon = new L.Icon({
                iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png',
                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
                shadowSize: [41, 41]
            });
            var orangeIcon = new L.Icon({
                iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-orange.png',
                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
                shadowSize: [41, 41]
            });
            var greenIcon = new L.Icon({
                iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png',
                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
                shadowSize: [41, 41]
            });

            var mymap = L.map('mapid').setView([45.833619, 1.261105], 13);
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: 'pk.eyJ1Ijoic2FuZGpheSIsImEiOiJjazlsaG04ZjkwMHQ2M3JvYjJ5M2htNWdhIn0.r3DaPofKU6BEX3MNZO3sjw'
            }).addTo(mymap);
            this.ruchersImportant.forEach(function (rucher) {
                if (rucher.coor.lat !== null || rucher.coor.long !== null) {
                    var marker = L.marker([rucher.coor.lat, rucher.coor.long], {icon: redIcon}).addTo(mymap);
                    marker.bindPopup("<a v-on:click=\"consulter(" + rucher + ")\">" + rucher.id + "</a>").openPopup();
                }

            });
            this.ruchersAVoir.forEach(function (rucher) {
                if (rucher.coor.lat !== null || rucher.coor.long !== null) {
                    var marker = L.marker([rucher.coor.lat, rucher.coor.long], {icon: orangeIcon}).addTo(mymap);
                    marker.bindPopup("<a v-on:click=\"consulter(" + rucher + ")\">" + rucher.id + "</a>").openPopup();
                }

            });
            this.ruchersOk.forEach(function (rucher) {
                if (rucher.coor.lat !== null || rucher.coor.long !== null) {
                    var marker = L.marker([rucher.coor.lat, rucher.coor.long], {icon: greenIcon}).addTo(mymap);
                    marker.bindPopup("<a v-on:click=\"consulter(" + rucher + ")\">" + rucher.id + "</a>").openPopup();
                }

            });

        }
    }

</script>

<style scoped>
    .carteRuchers {
        min-height: 100vh;
    }

    h1 {
        font-family: monospace;
        font-size: 3em;
    }

    h2 {
        font-family: monospace;
        font-size: 2.5em;
    }

    input {
        width: 40vw;
        font-size: 1.5em;
        margin-bottom: 25px;
    }

    .header {
        text-align: center;
        background-color: #ffc701;
        padding: 25px 0;
        height: 20vh;
    }

    .logo {
        width: 100px;
    }

    .content {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 80vh;
    }

    .left-side {
        width: 10vw;
        background-color: #ff8f0c;
        text-align: center;
    }

    .middle {
        width: 80vw;
    }

    .middle-header {
        text-align: center;
        margin-bottom: 50px;
    }

    .middle-content {
        text-align: center;
    }

    .middle-footer {
        text-align: right;
    }

    .right-side {
        width: 10vw;
        background-color: #ff8f0c;
    }

    #mapid {
        height: 500px;

    }
</style>
