<!-- Pahe de configuration qui permet de sauvegarder/import des données et de paramétrer les envrionnments et la fréquence -->
<template>
    <div class="configuration">
        <div class="header">
            <a href="/"><img class="logo" alt="Bee Logo" src="../assets/img/logoBee.svg"></a>
            <h1>To Bee or not To Bee</h1>
        </div>
        <div class="content">
            <div class="left-side">
                <a href="/admin"><img style="width: 5vw" src="../assets/img/backpage.png"></a>
            </div>
            <div class="middle">
                <div class="middle-header">
                    <h2>Configuration</h2>
                </div>
                <div class="middle-content">
                    Fréquence de visite: <input type="number" v-model="frequence" v-on:keyup.enter="saveFrequence">
                    <br>
                    Ajouter un environnement: <input v-model="newEnvironnement" v-on:keyup.enter="saveEnvironnement">
                    <ul>
                        <div class="list_env" v-for="environnement in environnements" :key="environnement">
                            <li> {{ environnement }}</li>
                            <button v-on:click="removeEnv(environnement)">Supprimer</button>
                        </div>
                    </ul>
                    <br>
                    <input  type="button" value="Sauvegarder les données" v-on:click="saveFile">
                    <br>
                    <!--<file-picker id="filePicker" v-on:vfp-file-added="fileAdded"></file-picker> -->
                    <input id="import" type="file" accept="application/json" value="Importer les données" @change="onFileSelected">
                </div>
            </div>
            <div class="right-side">
            </div>
        </div>
        <div class="footer">

        </div>
    </div>
</template>


<script>

    export default {
        name: 'Configuration',
        data: function () {
            return {
                frequence: "",
                newEnvironnement: "",
                environnements: [],
                ruchers: [],
                files: [],
                selectedFile: null,
                save:[]
            }
        },
        //Initialisation des données
        created() {
            this.loadData()
        },
        methods: {
            loadData(){
                this.frequence = JSON.parse(localStorage.getItem('STORAGE_FREQUENCE') || "[]");
                this.environnements = JSON.parse(localStorage.getItem('STORAGE_ENVIRONNEMENT') || '[]');
                this.ruchers = JSON.parse(localStorage.getItem('STORAGE_RUCHERS') || '[]');
            },
            //Enregistre la frequence dans le localstorage
            saveFrequence() {
                localStorage.setItem('STORAGE_FREQUENCE', JSON.stringify(this.frequence))
            },
            //Enregistre les environnements dans le localstorage
            saveEnvironnement(){
                this.environnements.push(this.newEnvironnement)
                this.newEnvironnement = ""
                localStorage.setItem('STORAGE_ENVIRONNEMENT', JSON.stringify(this.environnements))
            },
            //Supprime l'environnement du localstorage
            removeEnv(env){
                this.environnements.splice(this.environnements.indexOf(env),1)
                localStorage.setItem('STORAGE_ENVIRONNEMENT', this.environnements)
            },
            //Lis le fichier importer et stock les données dans le localstorage
            onFileSelected(){
                var files = document.getElementById('import').files;
                var fr = new FileReader();

                fr.onload = function(e) {
                    console.log(e);
                    var result = JSON.parse(e.target.result);
                    this.frequence = result[0]
                    this.environnements = result[1]
                    this.ruchers = result[2]

                    localStorage.setItem('STORAGE_RUCHERS',JSON.stringify(this.frequence))
                    localStorage.setItem('STORAGE_ENVIRONNEMENT',JSON.stringify(this.environnements))
                    localStorage.setItem('STORAGE_FREQUENCE',JSON.stringify(this.ruchers))

                }

                fr.readAsText(files.item(0))
                //document.location.reload(true)
                window.location="./admin"
            },
            // Fais télécharger un fichier json contenant les données de l'application
            saveFile: function() {
                this.save.push(this.ruchers,this.environnements,this.frequence)
                const data = JSON.stringify(this.save)
                const blob = new Blob([data], {type: 'text/plain'})
                const e = document.createEvent('MouseEvents'),
                    a = document.createElement('a');
                a.download = "sauvegarde.json";
                a.href = window.URL.createObjectURL(blob);
                a.dataset.downloadurl = ['text/json', a.download, a.href].join(':');
                e.initEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
                a.dispatchEvent(e);
            }
        }
    }

</script>

<style scoped>
    .configuration{
        min-height: 100vh;
    }
    h1{
        font-family: monospace;
        font-size: 3em;
    }
    h2{
        font-family: monospace;
        font-size: 2.5em;
    }

    input{
        width: 40vw;
        font-size: 1.5em;
        margin-bottom: 25px;
    }

    .header {
        text-align: center;
        background-color: #ffc701;
        padding: 25px 0;
        height: 20vh;
    }

    .logo{
        width: 100px;
    }

    .content{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 80vh;
    }

    .left-side{
        width: 10vw;
        background-color: #a7a7a7;
        text-align: center;
    }
    .middle{
        width: 80vw;
    }
    .middle-header{
        text-align: center;
        margin-bottom: 50px;
    }
    .middle-content{
        text-align: center;
    }
    .middle-footer{
        text-align: right;
    }
    .right-side{
        width: 10vw;
        background-color: #a7a7a7;
    }
    .list_env li{
        display: inline-flex;
        margin-right: 10px;
    }
</style>
