<!-- Page d'acceuil -->
<template>
    <div class="homepage">
        <div class="header">
            <a href="/"><img class="logo" alt="Bee Logo" src="../assets/img/logoBee.svg"></a>
            <h1>To Bee or not To Bee</h1>
        </div>
        <div class="content">
            <div class="left-side">

            </div>
            <div class="middle">
                <div class="middle-header">
                    <h2>Bienvenue</h2>
                </div>
                <div class="middle-content">
                    <a href="/listeRuchers"><input type="button" value="Listes des ruches"></a>
                    <br>
                    <a href="/carteRuchers"><input type="button" value="Cartes des ruches"></a>
                    <br>
                </div>
                <div class="middle-footer">
                    <a href="/admin"><img class="btn-settings" src="../assets/img/settings.png"></a>
                </div>
            </div>
            <div class="right-side">

            </div>
        </div>
        <div class="footer">

        </div>
    </div>
</template>


<script>

    export default {
        name: 'HomePage',
        /*props: {
            msg: String
        }*/
    }

</script>

<style scoped>
    .homepage{
        min-height: 100vh;
    }
    h1{
        font-family: monospace;
        font-size: 3em;
    }
    h2{
        font-family: monospace;
        font-size: 2.5em;
    }

    input{
        width: 40vw;
        font-size: 1.5em;
        margin-bottom: 25px;
    }

    .header {
        text-align: center;
        background-color: #ffc701;
        padding: 25px 0;
        height: 20vh;
    }

    .logo{
        width: 100px;
    }

    .content{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 80vh;
    }

    .left-side{
        width: 10vw;
        background-color: #ff8f0c;
    }
    .middle{
        width: 80vw;
    }
    .middle-header{
        text-align: center;
        margin-bottom: 50px;
    }
    .middle-content{
        text-align: center;
    }
    .middle-footer{
        position: absolute;
        bottom: 1vh;
        right: 11vw;
    }
    .right-side{
        width: 10vw;
        background-color: #ff8f0c;
    }
</style>
