<!-- Liste des ruchers -->
<template>
    <div class="listeRucher">
        <div class="header">
            <a href="/"><img class="logo" alt="Bee Logo" src="../assets/img/logoBee.svg"></a>
            <h1>To Bee or not To Bee</h1>
        </div>
        <div class="content">
            <div class="left-side">
                <a href="/"><img style="width: 5vw" src="../assets/img/backpage.png"></a>
            </div>
            <div class="middle">
                <div class="middle-header">
                    <h2>Listes des ruchers</h2>
                </div>
                <div class="middle-content">
                    <ul>
                        <h4 v-if="ruchersImportant.length != 0" style="color: darkred">Visites urgentes</h4>
                        <li v-for="rucher in ruchersImportant">
                            <a v-on:click="consulter(rucher)" style="color: red">{{rucher.id}} {{rucher.dateDepuisVisite}} jours</a>
                        </li>
                        <h4 v-if="ruchersAVoir.length != 0" style="color: darkorange">Visites recommandées</h4>
                        <li v-for="rucher in ruchersAVoir">
                            <a v-on:click="consulter(rucher)" style="color: orange">{{rucher.id}} {{rucher.dateDepuisVisite}} jours</a>
                        </li>
                        <h4 v-if="ruchersOk.length != 0" style="color: darkgreen">Visites facultavies</h4>
                        <li v-for="rucher in ruchersOk">
                            <a v-on:click="consulter(rucher)" style="color: green">{{rucher.id}} {{rucher.dateDepuisVisite}} jours</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right-side">

            </div>
        </div>
        <div class="footer">

        </div>
    </div>
</template>


<script>

    export default {
        name: 'ListeRucher',
        data: function () {
            return {
                ruchers: [],
                ruchersImportant: [],
                ruchersAVoir: [],
                ruchersOk: [],
            }
        },
        //
        created() {
            this.ruchers = JSON.parse(localStorage.getItem('STORAGE_RUCHERS') || "[]")

            for (let i = 0; i < this.ruchers.length; i++) {

                if (this.ruchers[i].visite[0].dateVisite == null) {
                    this.ruchers[i].visite[0].dateVisite = this.ruchers[i].date
                }
            }


            for (let i = this.ruchers.length - 1; i >= 0; i--) {
                var temp;

                for (let j = this.ruchers.length - 1; j >= 0; j--) {
                    if (this.ruchers[j].visite[this.ruchers[j].visite.length - 1].dateVisite < this.ruchers[i].visite[this.ruchers[j].visite.length - 1].dateVisite) {
                        temp = this.ruchers[j];
                        this.ruchers[j] = this.ruchers[i];
                        this.ruchers[i] = temp;
                    }
                }


            }

            for (let i = 0; i < this.ruchers.length; i++) {

                let d1 = new Date(this.ruchers[i].visite[this.ruchers[i].visite.length - 1].dateVisite)
                let d2 = new Date(Date.now())

                d1 = d1.getTime() / 86400000;
                d2 = d2.getTime() / 86400000;
                let d3 = new Number(d2 - d1).toFixed(0)


                this.ruchers[i].dateDepuisVisite = d3
                if (d3 > this.ruchers[i].freq){
                    this.ruchersImportant.push(this.ruchers[i])
                }else if(d3 >= this.ruchers[i].freq/ 2){
                    this.ruchersAVoir.push(this.ruchers[i])
                }else{
                    this.ruchersOk.push(this.ruchers[i])
                }
            }

        },
        methods: {
            consulter(rucher){
                localStorage.setItem('STORAGE_CONSULTER_RUCHER_ID', JSON.stringify(rucher))
                window.location = './visiteRucher'
            }
        }

    }

</script>

<style scoped>
    .homepage {
        min-height: 100vh;
    }

    h1 {
        font-family: monospace;
        font-size: 3em;
    }

    h2 {
        font-family: monospace;
        font-size: 2.5em;
    }

    input {
        width: 40vw;
        font-size: 1.5em;
        margin-bottom: 25px;
    }

    .header {
        text-align: center;
        background-color: #ffc701;
        padding: 25px 0;
        height: 20vh;
    }

    .logo{
        width: 100px;
    }

    .content{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 80vh;
    }

    .left-side {
        width: 10vw;
        background-color: #ff8f0c;
        text-align: center;
    }

    .middle {
        width: 80vw;
    }

    .middle-header {
        text-align: center;
        margin-bottom: 50px;
    }

    .middle-content {
        text-align: center;
    }

    .middle-footer {
        text-align: right;
    }

    .right-side {
        width: 10vw;
        background-color: #ff8f0c;
    }
</style>
