<template>
    <div class="mesruches">
        <div class="header">
            <a href="/"><img class="logo" alt="Bee Logo" src="../assets/img/logoBee.svg"></a>
            <h1>To Bee or not To Bee</h1>
        </div>
        <div class="content">
            <div class="left-side">
                <a href="/admin"><img style="width: 5vw" src="../assets/img/backpage.png"></a>
            </div>
            <div class="middle">
                <div class="middle-header">
                    <h2>Mes ruchers</h2>
                </div>
                <div class="middle-content">
                    <input type="button" value="Créer un rucher" onclick="window.location='/ajoutrucher'">
                    <br>
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th colspan="2">Liste des ruchers</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="rucher in ruchers">
                            <td>{{rucher.id}}</td>
                            <td><button v-on:click="modifierRucher(rucher)">Modifier</button><button v-on:click="removeRucher(rucher)">Supprimer</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="right-side">

            </div>
        </div>
        <div class="footer">

        </div>
    </div>
</template>


<script>

    export default {
        name: 'MesRuches',
        data: function () {
            return{
                ruchers: []

            }
        },
        created() {
            this.ruchers = JSON.parse(localStorage.getItem('STORAGE_RUCHERS') || "[]")
            localStorage.setItem('STORAGE_ID_A_MODIFIER', JSON.stringify(null))
        },
        methods: {
            removeRucher(rucher){
                this.ruchers.splice(this.ruchers.indexOf(rucher),1)
                localStorage.setItem('STORAGE_RUCHERS', JSON.stringify(this.ruchers))
            },
            modifierRucher(rucher){
                localStorage.setItem('STORAGE_ID_A_MODIFIER', JSON.stringify(rucher))
                window.location="./ajoutrucher"
            }
        }
    }

</script>

<style scoped>
    .homepage{
        min-height: 100vh;
    }
    h1{
        font-family: monospace;
        font-size: 3em;
    }
    h2{
        font-family: monospace;
        font-size: 2.5em;
    }

    input{
        width: 40vw;
        font-size: 1.5em;
        margin-bottom: 25px;
    }

    .header {
        text-align: center;
        background-color: #ffc701;
        padding: 25px 0;
        height: 20vh;
    }

    .logo{
        width: 100px;
    }

    .content{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 80vh;
    }

    .left-side{
        width: 10vw;
        background-color: #a7a7a7;
        text-align: center;
    }
    .middle{
        width: 80vw;
    }
    .middle-header{
        text-align: center;
        margin-bottom: 50px;
    }
    .middle-content{
        text-align: center;
    }
    .middle-footer{
        text-align: right;
    }
    .right-side{
        width: 10vw;
        background-color: #a7a7a7;
    }
</style>
