<template>
    <div class="visiteRucher">
        <div class="header">
            <a href="/"><img class="logo" alt="Bee Logo" src="../assets/img/logoBee.svg"></a>
            <h1>To Bee or not To Bee</h1>
        </div>
        <div class="content">
            <div class="left-side">
                <a href="/listeRuchers"><img style="width: 5vw" src="../assets/img/backpage.png"></a>
            </div>
            <div class="middle">
                <div class="middle-header">
                    <h1>Visites des ruchers </h1>
                </div>
                <div class="middle-content">
                    <h2>Historique des Visites</h2>
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th colspan="1">Date</th>
                            <th colspan="1">Dynamique</th>
                            <th colspan="1">Nourriture</th>
                            <th colspan="1">Hausses</th>
                            <th colspan="1">Observation</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="visite in visites">
                            <td>{{visite.dateVisite}}</td>
                            <td>{{visite.dynamique}}</td>
                            <td>{{visite.nourriture}}</td>
                            <td>{{visite.nbHausses}}</td>
                            <td>{{visite.observation}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <h2>Nouvelle visite</h2>
                    <form>
                        <div class="form_group">
                            <label>Date de la visite</label>
                            <input id="exampleInputEmail1" class="form-control" v-model="dateVisite" placeholder="AAAA-MM-JJ">
                            <small id="emailHelp" class="form-text text-muted">Si champs vide, la date sera celle d'aujourd'hui</small>
                        </div>
                        <br>
                        <div class="form_group">
                            <label>Dynamique de développement</label>
                            <textarea class="form-control" v-model="dynamique"></textarea>
                        </div>
                        <br>
                        <div class="form_group">
                            <label>Nourriture apportée</label>
                            <textarea class="form-control" v-model="nourriture"></textarea>
                        </div>
                        <br>
                        <div class="form_group">
                            <label>Hausses récoltées</label>
                            <input class="form-control" v-model="nbHausses">
                        </div>
                        <br>
                        <div class="form_group">
                            <label>Observation générale</label>
                            <textarea class="form-control" v-model="observation"></textarea>
                        </div>
                        <br>
                        <input class="btn btn-warning btn-lg btn-block" type="submit" value="Ajouter à l'historique" v-on:click="ajoutVisite">
                    </form>
                </div>
                <div class="middle-footer">

                </div>
            </div>
            <div class="right-side">

            </div>
        </div>
        <div class="footer">

        </div>
    </div>
</template>


<script>
    export default {
        name: 'VisiteRucher',
        data: function () {
            return {
                index: null,
                rucher: null,
                premiereVisite: false,
                ruchers: [],
                dynamique: "",
                nourriture: "",
                nbHausses: null,
                observation: "",
                dateVisite: "",
                visites:[],
                nouvelleVisite: null

            }
        },
        created() {
            this.rucher = JSON.parse(localStorage.getItem('STORAGE_CONSULTER_RUCHER_ID') || '[]')
            this.ruchers = JSON.parse(localStorage.getItem('STORAGE_RUCHERS') || '[]')
            this.rucher = this.ruchers.filter(function (element,rucher){
                if(element.id === rucher.id){
                    return element
                }
            }.bind(this,this.rucher))[0];
            this.index = this.ruchers.indexOf(this.rucher)
            if(this.rucher.visite[0].dynamique == null){
                this.premiereVisite = true
            }else{
                this.visites = this.rucher.visite;
            }
        },
        methods: {
            ajoutVisite(){
                this.dateVisite = this.dateVisite ? new Date(this.dateVisite) : new Date()
                this.rucher.dateDepuisVisite = this.dateVisite
                this.nouvelleVisite = {dateVisite: this.dateVisite, dynamique: this.dynamique, nourriture: this.nourriture, nbHausses: this.nbHausses, observation: this.observation}
                if (this.premiereVisite){
                    this.rucher.visite.splice(0,1,this.nouvelleVisite)
                }else {
                    this.rucher.visite.push(this.nouvelleVisite)
                }
                this.ruchers.splice(this.index,1,this.rucher)
                localStorage.setItem('STORAGE_RUCHERS', JSON.stringify(this.ruchers))
            }
        }
    }



</script>

<style scoped>
    .homepage {
        min-height: 100vh;
    }

    h1 {
        font-family: monospace;
        font-size: 3em;
    }

    h2 {
        font-family: monospace;
        font-size: 2.5em;
    }

    input {
        width: 40vw;
        font-size: 1.5em;
        margin-bottom: 25px;
    }

    .header {
        text-align: center;
        background-color: #ffc701;
        padding: 25px 0;
        height: 20vh;
    }

    .logo{
        width: 100px;
    }

    .content{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 80vh;
    }

    .left-side {
        width: 10vw;
        background-color: #ff8f0c;
        text-align: center;
    }

    .middle {
        width: 80vw;
    }

    .middle-header {
        text-align: center;
        margin-bottom: 50px;
    }

    .middle-content {
    }

    .middle-footer {
        text-align: right;
    }

    .right-side {
        width: 10vw;
        background-color: #ff8f0c;
    }
</style>

